html,body,#root{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.tag{
    position: relative;
}
.tag::before{
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: rgb(14 165 233);
    left: -6px;
    top: 6px;
    transform: rotate(45deg);
    z-index: -1;
}